<html>
    <body>
        <h1>
            Hola alumnos estamos viendo nuestra primera plantilla..
        </h1>

        {% if nombre_persona == 'Profesor Juan' %}

            <p>El curso lo imparte el Profesor titular.</p>

        {% else %}

            <p>El curso lo imparte el Profesor suplente.</p>

        {% endif %}


        <p>El nombre del programador es: {{nombre_persona|upper}} {{apellido_persona.upper}}</p>
        <p>{{momento_actual.day}} / {{momento_actual.month}} / {{momento_actual.year}}: {{comentario}}</p>
        <p><strong>Temas del curso:</strong></p>
        <ul>
        {% if temas %}
            {% for elTema in temas %}

            <li> {{elTema|first|lower}} </li>
        
            {% endfor %}
        {% else %}
        
            <p> No hay temas que mostrar</p>    
 
        {% endif %}
        </ul>
    </body>
</html>